# Emscripten specific
build-em/
host/clemens_iigs.html
host/clemens_iigs.js
host/clemens_iigs.wasm
host/clemens_iigs.worker.js
host/clemens_iigs.data

# Standard
.DS_Store
.cache/
.vscode/
.vs/
.flatpak-builder/
build/
dist/
data/*.rom
data/*.bin

# ROM files - must be supplied by the user (copyright Apple Computer, Inc.)
# Place your Apple IIgs ROM 3 file at: rom/rom.v3
rom/

# Tools
tools/
