# Emscripten specific
build-em/
host/clemens_iigs.html
host/clemens_iigs.js
host/clemens_iigs.wasm
host/clemens_iigs.worker.js
host/clemens_iigs.data

# Standard
.DS_Store
.cache/
.vscode/
.vs/
.flatpak-builder/
build/
dist/
data/*.rom
data/*.bin

# Tools
tools/
